# @p .env.example
# try using '~' or '$HOME' as the home path, so that vim.fn.expand() works nice and well

# Normal Paths
PYTHON_PATH=/path/to/your/venv/bin/python
ZIG_PATH=/path/to/your/zig

# LSP Paths
LUA_LS_LSP_PATH=/path/to/your/lua_ls
BASEDPYRIGHT_LSP_PATH=/path/to/your/basedpyright
PYRIGHT_LSP_PATH=/path/to/your/pyright
RUST_ANALYZER_LSP_PATH=/path/to/your/rust_analyzer
ZLS_LSP_PATH=/path/to/your/zls
TS_LS_LSP_PATH=/path/to/your/ts_ls
GOPLS_LSP_PATH=/path/to/your/gopls
JDTLS_LSP_PATH=/path/to/yout/jdtls
CLANGD_LSP_PATH=/path/to/your/clangd
